<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/templates/front/indexpage.php">TRAVEL W<i class="fa fa-globe"></i>RLD</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Домой</a></li>
                <li><a href="/templates/front/about.php">О нас</a></li>
                <li><a href="/templates/front/countries.php">Страны</a></li>
                <li><a href="/templates/front/auth.php">Войти</a></li>
                <li><a href="/templates/front/mail.php"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>
